* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#document {
    background-color: palegoldenrod;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: medium;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
button,
input[type=submit],
input[type=reset],
input[type=button] {
    font-size: x-small;
    color: black;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 3px;
}
input[type=text] {
    background-color: lightgoldenrodyellow;
    border: 1px solid;
    border-radius: 3px;
}
textarea[readonly=true] {
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    border-radius: 3px;
}
label {
    float: left;
    margin-right: 1em;
    margin: 0.25em 1em 0.25em 0;
    font-size: small;
    font-family: sans-serif;
}
.centeredPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}
.centeredPanel label {
    width: auto;
    margin: 0;
    margin-bottom: 0.25em;
}
fieldset {
    border: none;
    padding: 0px;
}

.sidebar {
    width: fit-content;
    min-width: 300px;
    padding: 15px 10px;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar .panel {
    border: solid 1px green;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.sidebar .panel p {
    font-size: small;
    padding-top: .5em;
    padding-bottom: .5em;
}

.bigButtonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .5em;
    border: solid 1px green;
    border-radius: 5px;
}
#oneClickButton {
    font-size: small;
    color: black;
    border: 1px solid;
}

.sidebar .icon {
    width: 20px;
    display: flex;
    justify-content: center;
    filter: invert(17%) sepia(70%) saturate(4671%) hue-rotate(93deg) brightness(98%) contrast(105%);
}
.sidebar hr {
    background-color: green;
    border: none;
    height: 1px;
    margin: 0.5em 0;
    align-self: stretch;
}
.panelControlArea {
    float: right;
    padding-top: 5px;
    padding-right: 7px;
    margin-top: 0%;
    font-size: small;
}
.panelControlArea button {
    background-color: inherit;
    color: green;
    margin: 0;
}

@media (min-width:1136px) {
    .header {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:1136px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}


.mainpage {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    border: none;
}
.mainpage .panel {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.mainpage canvas {
    border: solid 1px black;
    border-radius: 10px;
}
.mainpage .canvasCaption {
    font-family: monospace;
    margin: 16px 0;
}

.renderer {
    text-align: center;
    width: fit-content;
    min-width: 450px;
}
#oldRendererToggle {
    width: 1.5em;
    height: 1.5em;
}
#genomePanel .panelContent {
    text-align: center;
}

.wideField {
    width: 9em;
}
.tightField {
    width: 3em;
}