* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#document {
    background-color: palegoldenrod;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: medium;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
button,
input[type=submit],
input[type=reset],
input[type=button] {
    font-size: x-small;
    color: black;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 3px;
}
input[type=text] {
    background-color: lightgoldenrodyellow;
    border: 1px solid;
    border-radius: 3px;
}
textarea[readonly=true] {
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    border-radius: 3px;
}
label {
    float: left;
    width: 4.5em;
    margin-right: 1em;
    margin: 0.25em 1em 0.25em 0;
    font-size: small;
    font-family: sans-serif;
}
#exportPanel label {
    width: 6em;
}
fieldset {
    border: none;
    padding: 0px;
}

.sidebar {
    width: 305px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 15px 10px;
    background-color: lightgreen;
    border-right: 1px solid green;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar .panel {
    border: solid 1px green;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    
}
.sidebar .icon {
    width: 20px;
    display: flex;
    justify-content: center;
    filter: invert(17%) sepia(70%) saturate(4671%) hue-rotate(93deg) brightness(98%) contrast(105%);
}
.sidebar hr {
    background-color: green;
    border: none;
    height: 1px;
    margin: 0.5em 0;
    align-self: stretch;
}
.panelControlArea {
    float: right;
    padding-top: 5px;
    padding-right: 7px;
    margin-top: 0%;
    font-size: small;
}
.panelControlArea button {
    background-color: inherit;
    color: green;
    margin: 0;
}

.mainpage {
    left: 0;
    top: 0;
    margin-left: 305px;
    overflow-y: scroll;
    padding: 10px;
    
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    border: none;
}
.mainpage .panel {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.mainpage canvas {
    border: solid 1px black;
    border-radius: 10px;
}
.mainpage .canvasCaption {
    font-family: monospace;
    margin: 16px 0;
}

#oldRendererToggle {
    width: 1.5em;
    height: 1.5em;
}
#genomePanel .panelContent {
    text-align: center;
}